@import "tailwindcss";

:root {
  --background: #D2E6F4;
  --foreground: #171717;
  --primary:#D2E6F4
  --secondary-dark:#115284
  --secondary-light:#51A6D2
  --accent: #008DFA
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary)
  --color-secondary-dark: var(--secondary-dark)
  --color-secondary-light: var(--secondary-light)
  --color-accent:var(--accent)
 
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D2E6F4;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
